
form {
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    margin: 0px 100px;

}

label {
    margin-top: 20px;
    font-weight: bolder;
}


#button {
    background-color: #4c99af; 
    border: none; 
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    font-size: 16px; 
    margin: 14px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    
    &:hover {
        background-color: #2b6a7b; /* Color de fondo al pasar el mouse */
      }
    
      /* Efecto de sombra al hacer clic */
      &:active {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
        transform: translateY(1px); /* Desplazar ligeramente hacia abajo */
      }
}
