/*componente blog*/

#container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}



@media only screen and (max-width: 768px) {
    #container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        justify-content: center; 
         align-items: center; 
       
        
    }
    
    #form {
        
        max-width: 40%;
        
    
    }
    #list {
        margin-top: 40px;
        max-width: 90%;
    }

    .news{
        gap: 20px;
    }

    
}



